<svg class="cart-icon-bubble-svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
  <circle class="cart-icon-bubble-svg__bg-circle" cx="16" cy="16" r="16" ></circle>
  <circle class="cart-icon-bubble-svg__progress-circle" cx="16" cy="16" r="16"></circle>
</svg>
<span class="visually-hidden">{{ 'general.cart.view' | t }}</span>
<div class="cart-count-bubble">
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true">{{ cart.item_count }}</span>
  {%- else -%}
    <span aria-hidden="true">99+</span>
  {%- endif -%}
  <span class="visually-hidden">{{- 'sections.header.cart_count' | t: count: cart.item_count -}}</span>
</div>