<div class="header__left">
  {% render 'header-drawer', section: section %}

  {% render 'header-desktop-burger', section: section %}

  {% render 'secondary-logo' %}

  {% if section.settings.logo_position == 'left-logo' %}
    {% render 'header-logo', tag: 'h1' %}
  {% endif %}

  {% if section.settings.menu != blank %}
    {% render 'header-inline-menu', section: section %}
  {% endif %}
</div>

{% if section.settings.logo_position == 'center-logo' %}
  {% render 'header-logo', tag: 'h1', position: 'center' %}
{% endif %}

<div class="header__column">
  <div class="header__icons">
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      {% render 'header-localization' %}
    {%- endif -%}

    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      {% render 'header-language' %}
    {%- endif -%}

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'follow' %}
          {% render 'follow-button', block: block %}
      {% endcase %}
    {% endfor %}

    {% render 'header-color-scheme' %}

    {%- if section.settings.enable_search -%}
      {% render 'header-search', section: section %}
    {%- endif -%}

    {% render 'header-account' %}

    {% render 'header-cart' %}

    {% render 'secondary-logo' %}
  </div>
</div>
